@use "../../../../shared/styles/variables/typography";

.content {
	min-width: 375px;

	&_title{
		margin-bottom: 30px;
	}

	&_subtitle {
		@include typography.font-body-2;
	}
	
	&_color {
		display: flex;
		column-gap: 20px;
		align-items: center;
		margin-bottom: 30px;
	}

	&_color_options {
		display: flex;
		column-gap: 12px;
		align-items: center;
	}

	&_price{
		margin-bottom: 20px;
	}

	&_type {
		margin-bottom: 20px;
	}

	&_category {
		margin-bottom: 60px;
	}

	&_type, &_category {
		display: flex;
		flex-direction: column;
		row-gap: 20px
	}

	&_two_col_options {
		@include typography.font-body-3;

		display: grid;
		grid-template-columns: min-content min-content;
		gap: 10px 25px
	}

	&_col_options {
		@include typography.font-body-3;

		display: flex;
		flex-direction: column;
		row-gap: 10px;
	}
}