.MainPage {
	&_container {
		width: 100vw;
		min-width: 1200px;
		max-width: 1440px;
		height: 100vh;
		margin: 0 auto;
	}

	&_wrapper {
		position: relative;
		padding: 0 75px;

		& > div {
			margin-bottom: 100px;
		}
	}
}