@use "../../shared/styles/variables/typography";

.container {
	overflow: auto;
	min-width: 465px;
	height: 100%;
	padding: 0 30px;

	.title {
		margin-bottom: 50px;
	}
}

.divider {
	height: 0;
	padding: 0;
	border: none;
	border-top: 1px solid rgb(54 54 54 / 11%);
}

.item_divider {
	margin: 40px 0;
}

.cart_subtotal {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 110px;

	& > span {
		@include typography.font-body-1;
	}
}

.cart_divider {
	margin: 10px 0;
}

.cart_additional {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 50px;

	& > span {
		@include typography.font-body-1;

		color: rgb(54 54 54 / 60%);
	}
}

.buttons {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}