.container {
	display: flex;
	column-gap: 30px;
}

.right_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;

	.title {
		max-width: 70%;
	}

	.image {
		position: relative;
    bottom: 22px;
		text-align: end;
	}
}