@use "../../../styles/variables/typography";

.container {
	position: relative;
	z-index: 999;

	&_small {
		width: fit-content;
	}

	&_medium {
		width: 180px;
	}

	&_large {
		width: 270px;
	}

	&_fullwidth {
		width: 100%;
	}

	& > button {
		width: 100%;
		border-radius: 4px;
	}
}

.btn {
	display: flex;
	column-gap: 10px;
	align-items: center;
	justify-content: space-between;

	&_center {
		justify-content: center;
	}

	&_filled {
		@include typography.font-body-2;
		
		padding: 15px;
		color: var(--color-typo-2);
		background-color: var(--color-accent-1);
	}

	&_outlined {
		@include typography.font-body-2;

		padding: 15px;
		color: var(--color-accent-1);
		background-color: var(--color-bg-default);
		border: 1px solid var(--color-accent-1);
	}

	&_secondary {
		padding: 10px 20px;
		color: var(--color-typo-1);
		background-color: var(--color-bg-default);
		border: 1px solid var(--color-typo-1);
	}

	&_counter {
		padding: 7px 15px;
		color: var(--color-typo-1);
		background-color: var(--color-bg-default);
		border: 1px solid var(--color-typo-1);
	}
}

.left_icon, .right_icon {
	display: flex;
	align-items: center;
	justify-content: center;

	& > svg {
		fill: none;
		stroke: var(--color-typo-1);
	}
}