.container {
	position: relative;

	z-index: 999;

	&_small {
		width: fit-content;
	}

	&_medium {
		width: 180px;
	}

	&_large {
		width: 270px;
	}

	&_fullwidth {
		width: 100%;
	}

	& > button {
		width: 100%;
		border-radius: 4px;
	}
}

.btn {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 10px;

	&_center {
		justify-content: center;
	}

	&_filled {
		padding: 15px;

		background-color: var(--color-accent-1);
		color: var(--color-typo-2);
	}

	&_outlined {
		padding: 15px;

		background-color: var(--color-bg-default);
		color: var(--color-accent-1);
		border: 1px solid var(--color-accent-1);
	}

	&_secondary {
		padding: 10px 20px;

		background-color: var(--color-bg-default);
		color: var(--color-typo-1);
		border: 1px solid var(--color-typo-1);

		
	}
}

.left_icon, .right_icon {
	display: flex;
	align-items: center;
	justify-content: center;

	& > svg {
		fill: none;
		stroke: var(--color-typo-1);
	}
}