.PaymentPage {
	&_container {
		position: relative;

		width: 100vw;
		min-width: 1200px;
		max-width: 1440px;
		height: 100vh;
		margin: 0 auto;
	}

	&_wrapper {
		display: flex;
		column-gap: 90px;
		margin-bottom: 100px;
		padding: 190px 75px 0;
	}
}