@use "../../styles/variables/typography";

.container {
	display: flex;
	justify-content: space-between;

	padding: 100px 75px 68px;
}

.info {
	max-width: 330px;
	width: 100%;

	.title {
		margin-bottom: 30px;
	}

	& > p {
		@include typography.font-body-3;
	}
}

.navigation {
	display: flex;
	column-gap: 35px;
	flex-basis: 40%;

	.column {
		display: flex;
		flex-direction: column;
		row-gap: 10px;

		& > span:first-child {
			@include typography.font-body-2;
		}

		& > span:not(:first-child) {
			@include typography.font-body-3;
		}
	}
}

.social {
	display: flex;
	column-gap: 22px;
}