@use "../../styles/variables/typography";

.container {
	position: absolute;
	z-index: 999;

	display: flex;
	column-gap: 50px;
	align-items: center;
	justify-content: space-between;

	width: 100%;
	min-width: 1200px;
	max-width: 1440px;
	padding: 60px 75px 0;
	padding-top: 60px;
}

.home_wrapper {
	max-width: calc(100% - 463px);
}

.wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.logo {
	@include typography.font-headline-4;

	cursor: pointer;
	text-decoration: none;

	&_white {
		color: var(--color-typo-2);
	}
}

.navigation {
	@include typography.font-body-2;

	display: flex;
	gap: 20px;
	align-items: center;

	& > span {
		@include typography.font-body-2;

		cursor: pointer;
		position: relative;
		text-decoration: none;
	}

	& > span::after {
		content: "";

		position: absolute;
		right: 8px;
		bottom: 0;

		display: block;

		width: 0;
		height: 3px;

		background-color: var(--color-accent-1);
		border-radius: 50%;

		transition: width 0.3s ease-out;
	}

	& > span:hover::after {
		width: 100%;
	}
}

.actions {
	display: flex;
	gap: 20px;
	align-items: center;
}