button {
	& > svg {
		fill: none;
		stroke: var(--color-typo-1);
	}

	& > svg:hover {
		fill: var(--color-typo-2);
		stroke: var(--color-typo-1);
	}
}

.filled {
	& > svg {
		fill: rgb(218 72 72);
		stroke: rgb(218 72 72);
	}

	& > svg:hover {
		fill: rgb(163 35 35);
		stroke: rgb(163 35 35);
	}
}